<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Ocean </title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<!-- header section starts  -->

<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>pizza Ocean</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#speciality">speciality</a>
        <a href="#popular">popular</a>
        <a href="#order">order</a>
    </nav>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Pizza made with love</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusamus tempore temporibus rem amet laudantium animi optio voluptatum. Natus obcaecati unde porro nostrum ipsam itaque impedit incidunt rem quisquam eos!</p>
        <a href="#order" class="btn">order now</a>
    </div>

    <div class="image">
        <img src="images/pizza.png" alt="">
    </div>

</section>

<!-- home section ends -->

<!-- speciality section starts  -->



<section class="speciality" id="speciality">

    <h1 class="heading"> our <span>speciality</span> </h1>

    <div class="box-container">

        <div class="box">
            <img class="image" src="images/pizza2.jpg" alt="">
            <div class="content">
                <img src="images/s-2.png" alt="">
                <h3>Margherita</h3>
                <p>Our heart is made of pizza, and our mission is to share our funny pizza quote love with everyone Chunky paneer with crisp capsicum and spicy red pepper .YES YES YES its delicious, Care for a slice?  </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/pizza1.jpg" alt="">
            <div class="content">
                <img src="images/s-2.png" alt="">
                <h3>Farmhouse</h3>
                <p> A pizza that goes ballistic on veggies!  Chunky paneer with crisp capsicum and spicy red pepper  Check out this mouthwatering overload of crunchy, crisp capsicum, succulent mushrooms, and fresh tomatoes</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/pizza3.jpg" alt="">
            <div class="content">
                <img src="images/s-2.png" alt="">
                <h3>Peppy Paneer</h3>
                <p> Chunky paneer with crisp capsicum and spicy red pepper - Chicken Sausage I Cheese || "You can't buy happiness. quite a mouthful! Well duh, pizza has cheese, tomatoes, veggies, chicken, pepperoni, sausage – I can see all the nutrients I need.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/pizza4.jpg" alt="">
            <div class="content">
                <img src="images/s-2.png" alt="">
                <h3>Chicken Sausage</h3>
                <p> Chicken Sausage I Cheese || "You can't buy happiness. But you can buy pizza, and that's kind of the same thing.vegies mix taste  quite a mouthful! Well duh, pizza has cheese, tomatoes, veggies, chicken, pepperoni, sausage" </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/pizza5.jpg" alt="">
            <div class="content">
                <img src="images/s-2.png" alt="">
                <h3>Non-Veg Supreme</h3>
                <p> Bite into supreme delight of Black Olives, Onions, Grilled Mushrooms,vegies mix taste  quite a mouthful! Well duh, pizza has cheese, tomatoes, veggies, chicken, pepperoni, sausage Pepper BBQ Chicken, Peri-Peri Chicken, Grilled Chicken Rashers</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/pizza6.jpg" alt="">
            <div class="content">
                <img src="images/s-2.png" alt="">
                <h3>healty pizza</h3>
                <p>vegies mix taste  quite a mouthful! Well duh, Chicken Sausage I Cheese || "You can't buy happiness. pizza has cheese, tomatoes, veggies, chicken, pepperoni, sausage – I can see all the nutrients</p>
            </div>
        </div>

    </div>

</section>

<!-- speciality section ends -->

<!-- popular section starts  -->

<section class="popular" id="popular">

    <h1 class="heading"> most <span>popular</span> foods </h1>

    <div class="box-container">

        <div class="box">
            <span class="price"> 220.00 INR </span>
            <img src="images/pizza1.jpg" alt="">
            <h3>Margherita</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <!-- <a href="#" class="btn">order now</a> -->
        </div>
        <div class="box">
            <span class="price">250.00 INR</span>
            <img src="images/pizza2.jpg" alt="">
            <h3>Farmhouse</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <!-- <a href="#" class="btn">order now</a> -->
        </div>
        <div class="box">
            <span class="price">330.00 INR </span>
            <img src="images/pizza3.jpg" alt="">
            <h3>Peppy Paneer</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <!-- <a href="#" class="btn">order now</a> -->
        </div>
        <div class="box">
            <span class="price"> 440.00 INR </span>
            <img src="images/pizza4.jpg" alt="">
            <h3>Chicken Sausage</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <!-- <a href="#" class="btn">order now</a> -->
        </div>
        <div class="box">
            <span class="price"> 500.00 INR </span>
            <img src="images/pizza5.jpg" alt="">
            <h3>Non-Veg Supreme</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <!-- <a href="#" class="btn">order now</a> -->
        </div>
        <div class="box">
            <span class="price"> 400.00 INR </span>
            <img src="images/pizza6.jpg" alt="">
            <h3>cold ice-cream</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <!-- <a href="#" class="btn">order now</a> -->
        </div>

    </div>

</section>

<!-- popular section ends -->

<!-- steps section starts  -->

<div class="step-container">

    <h1 class="heading">how it <span>works</span></h1>

    <section class="steps">

        <div class="box">
            <img src="images/step-1.jpg" alt="">
            <h3>choose your favorite food</h3>
        </div>
        <div class="box">
            <img src="images/step-2.jpg" alt="">
            <h3>free and fast delivery</h3>
        </div>
        <div class="box">
            <img src="images/step-3.jpg" alt="">
            <h3>easy payments methods</h3>
        </div>
        <div class="box">
            <img src="images/step-4.jpg" alt="">
            <h3>and finally, enjoy your food</h3>
        </div>

    </section>

</div>

<!-- steps section ends -->

<!-- order section starts  -->

<section class="order" id="order">

    <h1 class="heading"> <span>order</span> now </h1>

    <div class="row">

        <div class="image">
            <img src="images/order.jpg" alt="">
        </div>

        <form action="/ordered" method="post">

            <div class="inputBox">
                <input type="text" placeholder="name" name="name">
                <input type="email" placeholder="email" name="email">
            </div>

            <div class="inputBox">
                <input type="number" placeholder="number" name="number">
                <!-- <input type="text" placeholder="food name"> -->

  <select id="list" name="pizza">
        <option value="pizza">Pizza..</option>
        <option value="MARGHERITA">MARGHERITA</option>
        <option value="DOUBLECHEESEMARGHERITA">DOUBLE CHEESE MARGHERITA</option>
        <option value="FARMHOUSE">FARM HOUSE</option>
            <option value="PEPPYPANEER">PEPPY PANEER</option>
                <option value="DELUXEVEGGIE">DELUXE VEGGIE</option>
                    <option value="VEGGIEPARADISE">VEGGIE PARADISE</option>
                        <option value="VEGGIEFRESH">VEGGIE FRESH</option>
                            <option value="CHEE">CHEE</option>
      </select>


            </div>

            <textarea placeholder="address" name="address" id="" cols="30" rows="10"></textarea>

            <input type="submit" value="order now" class="btn">

        </form>

    </div>

</section>

<!-- order section ends -->

<!-- footer section  -->

<section class="footer">

    <div class="share">
        <a href="#" class="btn">facebook</a>
        <a href="#" class="btn">twitter</a>
        <a href="#" class="btn">instagram</a>
        <a href="#" class="btn">pinterest</a>
        <a href="#" class="btn">linkedin</a>
    </div>

    <h1 class="credit"> created by <span> BHANU PRATAP SINGH RATHORE </span>  </h1>

</section>


</body>
</html>
